<div class="card-body">
            <h5>Bienvenido a la Declaración Jurada Anual de Renta</h5>
            <hr />
            <p>
                Usted se encuentra en la Plataforma de presentación de la Declaración
                Jurada Anual de Renta. A través de este medio podrá presentar y pagar la
                declaración que le corresponde. <br />Si desea presentar su declaración
                jurada debe seleccionar el formulario que le corresponde de los mostrados en
                la columna izquierda, ya sea Persona Natural o Persona Jurídica.
            </p>
            <p>
                Le sugerimos que cuando ingrese verifique la información que se le muestra y
                que lea las instrucciones que le aparecen a lo largo del formulario.
            </p>
</div>